[submodule "fact_extractor"]
	path = fact_extractor
	url = git@github.com:ElDavoo/fact_extractor.git
        branch = master

[submodule "FACT_core"]
	path = FACT_core
	url = git@github.com:ElDavoo/fact_core.git
        branch = master
[submodule "docker-radare-web-gui"]
	path = docker-radare-web-gui
	url = https://github.com/ElDavoo/docker-radare-web-gui.git
